In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'],axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Value counts for 'NAME'
name_counts = application_df['NAME'].value_counts()

# Determine which values to replace if counts are less than..
replace_name = list(name_counts[name_counts <100].index)

# Replace in dataframe
for name in replace_name:
    application_df.NAME = application_df.NAME.replace(name, "Other")
    
# Check to make sure binning was successful
application_df.NAME.value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [4]:
bins = [1,10000,25000,100000,500000,1000000,5000000,10000000,50000000,np.inf]
labels=['1-10K','10K-25K','25K-100K','100K-500K','500K-1M','1M-5M','5M-10M','10M-50M','50M+']

application_df['ASK_AMT'] = pd.cut(application_df['ASK_AMT'],bins,labels=labels)
application_df.dtypes

NAME                        object
APPLICATION_TYPE            object
AFFILIATION                 object
CLASSIFICATION              object
USE_CASE                    object
ORGANIZATION                object
STATUS                       int64
INCOME_AMT                  object
SPECIAL_CONSIDERATIONS      object
ASK_AMT                   category
IS_SUCCESSFUL                int64
dtype: object

In [5]:
# Value counts for APPLICATION_TYPE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_type_counts[application_type_counts <500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Value counts for CLASSIFICATION
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_value_counts[classification_value_counts<800].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Generate our categorical variable lists
application_cat = list(application_df.dtypes[application_df.dtypes!="int64"].index)
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'ASK_AMT']

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_HONOR SOCIETY OF PHI KAPPA PHI,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,...,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_1-10K,ASK_AMT_100K-500K,ASK_AMT_10K-25K,ASK_AMT_10M-50M,ASK_AMT_1M-5M,ASK_AMT_25K-100K,ASK_AMT_500K-1M,ASK_AMT_50M+,ASK_AMT_5M-10M
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\nodna\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_HONOR SOCIETY OF PHI KAPPA PHI,...,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_1-10K,ASK_AMT_100K-500K,ASK_AMT_10K-25K,ASK_AMT_10M-50M,ASK_AMT_1M-5M,ASK_AMT_25K-100K,ASK_AMT_500K-1M,ASK_AMT_50M+,ASK_AMT_5M-10M
0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=78)

C:\Users\nodna\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
len(X_train[0])

82

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 60

nn = tf.keras.models.Sequential()

# First hidden layer, second hidden layer, output layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               8300

 dense_1 (Dense)             (None, 80)                8080

 dense_2 (Dense)             (None, 60)                4860

 dense_3 (Dense)             (None, 1)                 61

=================================================================
Total params: 21,301
Trainable params: 21,301
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
fit_model = nn.fit(X_train, y_train, epochs=10,verbose=1)

Epoch 1/10
804/804 [==============================] - 1s 692us/step - loss: 0.5177 - accuracy: 0.7404
Epoch 2/10
804/804 [==============================] - 1s 689us/step - loss: 0.4922 - accuracy: 0.7538
Epoch 3/10
804/804 [==============================] - 1s 677us/step - loss: 0.4878 - accuracy: 0.7590
Epoch 4/10
804/804 [==============================] - 1s 688us/step - loss: 0.4857 - accuracy: 0.7592
Epoch 5/10
804/804 [==============================] - 1s 691us/step - loss: 0.4842 - accuracy: 0.7616
Epoch 6/10
804/804 [==============================] - 1s 678us/step - loss: 0.4826 - accuracy: 0.7618
Epoch 7/10
804/804 [==============================] - 1s 683us/step - loss: 0.4809 - accuracy: 0.7620
Epoch 8/10
804/804 [==============================] - 1s 683us/step - loss: 0.4802 - accuracy: 0.7640
Epoch 9/10
804/804 [==============================] - 1s 684us/step - loss: 0.4779 - accuracy: 0.7649
Epoch 10/10
804/804 [==============================] - 1s 679us/step - loss: 0.4779 - accuracy: 0.7643

In [18]:
model_loss, model_accuracy = nn.evaluate(X_test, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5008 - accuracy: 0.7541 - 200ms/epoch - 747us/step
Loss: 0.5007849335670471, Accuracy: 0.754052460193634

In [19]:
# import dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [20]:
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Create callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq="epoch"
)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=10, callbacks=[cp_callback])

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/10
756/804 [===========================>..] - ETA: 0s - loss: 0.5217 - accuracy: 0.7562
Epoch 1: saving model to checkpoints\weights.01.hdf5
804/804 [==============================] - 1s 688us/step - loss: 0.5194 - accuracy: 0.7570
Epoch 2/10
738/804 [==========================>...] - ETA: 0s - loss: 0.4841 - accuracy: 0.7647
Epoch 2: saving model to checkpoints\weights.02.hdf5
804/804 [==============================] - 1s 705us/step - loss: 0.4834 - accuracy: 0.7641
Epoch 3/10
750/804 [==========================>...] - ETA: 0s - loss: 0.4789 - accuracy: 0.7655
Epoch 3: saving model to checkpoints\weights.03.hdf5
804/804 [==============================] - 1s 694us/step - loss: 0.4810 - accuracy: 0.7640
Epoch 4/10
742/804 [==========================>...] - ETA: 0s - loss: 0.4796 - accuracy: 0.7637
Epoch 4: saving model to checkpoints\weights.04.hdf5
804/804 [==============================] - 1s 702us/step - loss: 0.4794 - accuracy: 0.7644
Epoch 5/10
757/804 [===========================>..] - ETA: 0s - loss: 0.4791 - accuracy: 0.7654
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 690us/step - loss: 0.4780 - accuracy: 0.7661
Epoch 6/10
755/804 [===========================>..] - ETA: 0s - loss: 0.4773 - accuracy: 0.7657
Epoch 6: saving model to checkpoints\weights.06.hdf5
804/804 [==============================] - 1s 688us/step - loss: 0.4775 - accuracy: 0.7657
Epoch 7/10
747/804 [==========================>...] - ETA: 0s - loss: 0.4743 - accuracy: 0.7676
Epoch 7: saving model to checkpoints\weights.07.hdf5
804/804 [==============================] - 1s 697us/step - loss: 0.4765 - accuracy: 0.7660
Epoch 8/10
752/804 [===========================>..] - ETA: 0s - loss: 0.4754 - accuracy: 0.7671
Epoch 8: saving model to checkpoints\weights.08.hdf5
804/804 [==============================] - 1s 692us/step - loss: 0.4758 - accuracy: 0.7662
Epoch 9/10
759/804 [===========================>..] - ETA: 0s - loss: 0.4749 - accuracy: 0.7664
Epoch 9: saving model to checkpoints\weights.09.hdf5
804/804 [==============================] - 1s 686us/step - loss: 0.4747 - accuracy: 0.7669
Epoch 10/10
760/804 [===========================>..] - ETA: 0s - loss: 0.4740 - accuracy: 0.7678
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 681us/step - loss: 0.4739 - accuracy: 0.7675
268/268 - 0s - loss: 0.5064 - accuracy: 0.7537 - 182ms/epoch - 677us/step
Loss: 0.5063885450363159, Accuracy: 0.7537026405334473

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 60

nn_new = tf.keras.models.Sequential()

# First hidden layer, second hidden layer, output layer
nn_new.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))
nn_new.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
nn_new.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))
nn_new.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# compile the model
nn_new.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Restore the model weights
nn_new.load_weights("checkpoints/weights.10.hdf5")

# Evaluate the model using the test data
model_loss, model_accuracy = nn_new.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5064 - accuracy: 0.7537 - 222ms/epoch - 827us/step
Loss: 0.5063885450363159, Accuracy: 0.7537026405334473